
body	{		font-family: 
				width: 100%;
				height: auto;
				background-color: #E5E5E5;
				background-image: url('https://images.pexels.com/photos/2469122/pexels-photo-2469122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
				/*border: 1px solid #E5E5E5;*/
}
.framework		{
					width: 50%;
					margin-left: auto;
					margin-right: auto;
					margin-top: 120px;
					display: block;
					background-color: #FFFFFF;
					background-image: url('https://images.pexels.com/photos/1420709/pexels-photo-1420709.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
					border-radius: 3px;
					border: 2px solid grey;
					box-shadow: 0px 2px 2px 0px;
}

.email			{
					margin-bottom: 30px;
					display: block;
					margin-left: auto;
					margin-right: auto;
					width: 461px;
					height: 38px; 
					border-radius: 5px; 
					background-color: #E5E5E5;
}

img 				{
					display: block;
					margin-left: auto;
					margin-right: auto;
					margin-top: 52px;
}

button			{
					display: block;
					margin-left: auto;
					margin-right: auto;
					background-color: #376CBB;
					width: 141px;
					height: 54px;
					margin-bottom: 71px;
					border-color: #376CBB;
}

button 			{
						width: 150px;
						height: 60px;
						color: white;
}

table			{
					
					width: 461px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 25px;
}

.flush_left			{
						align-content: left;
}

.flush_right		{
						text-align: right;
}
a 				{
					text-decoration: none;
}